/* Scrunch up everything close for almost all of the resume */
.resume {
  font-size: 0.8em;
}

.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h6,
.resume p {
  margin: 0;
}

.resume hr {
  margin-top: 0;
}

/* Fix heading spacing for basics contact and profile links */
.basics-links > div > h3 {
  margin-bottom: var(--pico-typography-spacing-vertical);
}
